.main {
  display: flex;
  justify-content: space-around;
  height: 95%;
  background-color: #e7d4b5;
}

.left-side {
  width: 50%;
  display: flex;
  justify-content: center;
}

.right-side {
  width: 50%;
}
