:root {
  --side-margin: 15px;
}

.resume {
  border: 1px black solid;
  width: 612px;
  height: 792px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.resume * p {
  font-size: 0.8rem;
}

.resume * h3 {
  font-size: 1.5rem;
}

.resume * h4 {
  font-size: 1.3rem;
  margin: 0 0 0 var(--side-margin);
}

h6 {
  font-size: 1.4rem;
  margin: 0 0 0 var(--side-margin);
}

ul {
  padding: 0 0 0 20px;
  margin: 0;
}

.experience-name {
  font-weight: bold;
}

.border-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.border {
  display: inline-block;
  border-bottom: 2px solid black; /* Set the border width and color */
  width: 100%; /* Set the length of the bottom border */
  margin: 0 var(--side-margin) 0 var(--side-margin);
}

.personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.personal * p,
h3 {
  margin: 0;
}

.personal > div {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.personal > div:nth-child(2) {
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.personal > div > div:first-child {
  margin-bottom: 5px;
}

.resume > :not(:first-child) {
  margin-bottom: 20px;
}

.education {
  display: flex;
  flex-direction: column;
}

.education * p {
  margin: 0;
}

.education > div {
  margin: 0 var(--side-margin) 0 var(--side-margin);
}

.education > div:not(:last-child) {
  display: flex;
  justify-content: space-between;
}

.education > div:not(:last-child) > div {
  display: flex;
}

.education > div:nth-child(2) {
  margin-bottom: 5px;
}

.personal,
.workExperience,
.projects,
.technicalSkills {
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
}

.workExperience * p,
.projects * p,
.technicalSkills * p {
  margin: 0;
}

.workExperience > div:first-child {
  display: flex;
  justify-content: space-between;
}
