:root {
  --side-margin: 15px;
}

.resume {
  border: 1px black solid;
  width: 100%;
  height: 100%;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
}

.resume * p {
  font-size: 1.2rem;
}

.resume * h3 {
  font-size: 2rem;
}

.resume * h4 {
  font-size: 1.3rem;
  margin: 0 0 0 15px;
}

h6 {
  font-size: 1.4rem;
  margin: 0 0 0 var(--side-margin);
}

.border-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.border {
  display: inline-block;
  border-bottom: 2px solid black; /* Set the border width and color */
  width: 100%; /* Set the length of the bottom border */
  margin: 0 var(--side-margin) 0 var(--side-margin);
}

.personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.personal * p,
h3 {
  margin: 0;
}

.personal > div {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.personal > div:first-child {
  margin-left: var(--side-margin);
  align-items: flex-start;
}

.personal > div:nth-child(2) {
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.personal > div:nth-child(3) {
  margin-right: var(--side-margin);
  align-items: flex-end;
}

.personal > div > div:first-child {
  margin-bottom: 5px;
}

.resume > div:nth-child(2) {
  margin-bottom: 30px;
}

.education {
  display: flex;
  flex-direction: column;
}

.education * p {
  margin: 0;
}

.education > div {
  margin: 0 var(--side-margin) 0 var(--side-margin);
}

.education > div:not(:last-child) {
  display: flex;
  justify-content: space-between;
}

.education > div:nth-child(2) {
  margin-bottom: 5px;
}
